* {
  margin: 0px;
  text-rendering: optimizelegibility;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
  line-height: 1.5;

  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  color: black;
  font-size: 5vw;
  text-align: center;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}

h1 {
  margin-top: 2vw;
  margin-left: 2vw;
  font-family: "Monsieur La Doulaise", cursive;
  font-size: 15vw;
  text-align: center;
}

/* for button in general */

.button {
  margin-top: 2vw;
  margin-left: 2vw;
  font-size: 12px;
  background-color: var(--background_button_first);
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.button:hover{
  background-color: var(--background_button_second);
  cursor: pointer;
}

/* for the word animation */
.text {
  position: absolute;
  width: 50vw;
  height: 8vw;
  left: 15vw;
  top: 25vw;
  /* margin-top: -20px; */
  /* margin-left: -225px; */
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  color: black;
  font-weight: 700;
}






/* code for the word thingy */
.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}
.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}
.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.letter.behind {
  transform: rotateX(-90deg);
}
.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.wisteria {  color: #8e44ad;}
.belize {  color: #2980b9;}
.pomegranate {  color: #c0392b;}
.green {  color: #16a085;}
.midnight {  color: #2c3e50;}
















/* for the rolling banner *

/* .roll {
  position: absolute;
  top: 40vw;
  left: 45vw;
  height: 10vw;
  width: 10vw;
  background-color: blue;
  animation: scroll 4s linear infinite;
}

/* animation: scroll 20s linear infinite; */
/* @keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1000%);
  }
} */






















@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  position: absolute;
  top: 20vw;
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}&